 body {
   background-color: #000;
   font-family: 'Lato', monospace;
   font-size: 14px;
   color: #fff;
   display: flex;
   justify-content: center;
   padding: 20px;
 }

 .wrapper {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 768px;
 }

 .container {
   background-color: #18181b;
   border-radius: 10px;
   border: 1px solid #303338;
   padding: 10px;
   box-sizing: border-box;
 }

 .section {

   border-radius: 8px;
   border: 1px solid #303338;
   padding: 15px;
   margin-bottom: 8px;

 }

 .section-header {
   background-color: #101010;
   padding: 8px;
   border-radius: 8px;
   border: 1px solid #0F0F0F;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 4px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 }

 .section-title {
   font-size: 16px;

 }

 .section-subtitle {
   font-size: 11px;
   font-weight: bold;
   color: #5d5d5d;
 }

 .icon {
   font-size: 28px;
 }

 .icon2 {
   width: 64px;
   height: 64px;
 }

 .icon-social {
   width: 18px;
   height: 18px;
 }

 .text-social {
   font-size: 16px;
   text-decoration: none;
   color: white;
   padding-left: 8px;
 }

 .block-header {
   padding: 4px;
   border-bottom: 1px solid #303338;
   margin-bottom: 10px;
 }

 .block-header-text {
   color: white;
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 8px;
 }

 .menu-button {
   width: 100%;
   margin-bottom: 8px;
 }

 .button-m {
   display: block;
   width: 100%;
   padding: 10px;
   font-size: 16px;
   text-align: center;
   background: #18181b;
   color: #fff;
   border: none;
   border-radius: 10px;
   border: 1px solid #303338;
   cursor: pointer;
   box-sizing: border-box;
   text-decoration: none;
 }

 .button-m:hover {
   background: #222;
 }

 .text {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
 }

 .name {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 4px;
 }

 .hidden-conteiner-4 {
   padding: 2px;
   display: flex;
   flex-wrap: wrap;
   gap: 4px;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 4px;
 }


 .section-header-7 {
   padding: 4px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 4px;
 }

 .section-header-8 {
   padding: 4px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 4px;
 }

 .color-box {
   width: 14px;
   height: 14px;
   padding: 8px;
   border-radius: 2px;
   border: 1px solid #303338;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 }

 .icon-text-link {
   display: inline-flex;
   align-items: center;
   text-decoration: none;
   color: inherit;
   padding: 0px;
   margin: 0px;
 }

 @media (max-width: 768px) {


   .wrapper {
     width: 360px;
   }

 }