 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #000000;
  }
 .avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #FEFCFF;
    transition: transform 0.3s ease;
}

.avatar:hover {
  transform: scale(1.05);
}

  h1 {
    margin: 20px 0 10px;
    color: #ffffff;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 200px;
  }
  button {
    padding: 10px;
    font-size: 14px;
    border: none;
    background: #18181b;
    color: #ffffff;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #303338;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  button:hover {
    background-color: rgba(255,255,255,0.25);
  }
  