::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px;
  border: 3px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f1f1f1;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
  background-color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 0;
  line-height: 1.5;
}

.main {
  max-width: 768px;
  margin-top: calc(60px);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.block-main-header-text {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-header-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.secondary-header-text {
  font-size: 14px;
  color: #77787A;
}

.tabs {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.tab-button {
  background-color: #191919;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  border-radius: 100px;
  transition: bg-color 3ms;
}

.tab-button:hover {
  background: #222;
}

.tab-button.active {
  background-color: #fff;
  color: #000;
}

.table-wrapper {
  display: none;
  margin-top: 20px;
}

.table-wrapper.active {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.container-for-art {
  background-color: #191919;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #292929;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 8px;
  gap: 10px;
  transition: transform 0.3s ease;
}

.container-for-art:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.section-title {
  font-size: 14px;
}

.section-subtitle {
  font-size: 10px;
  font-weight: bold;
  color: #77787A;
}

.hidden-container-404 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.covers-for-art {
  width: 38px;
  height: 38px;
  border-radius: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: 768px) {


  .tab-button {
    font-size: 13px;
  }
}